*
{
	margin: 0px;
	padding: 0px;
}
.wrapper
{
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Task_list_wrapper
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	flex-wrap: wrap;
	border: 1px solid grey;
	border-right: 4px solid grey;
}
.Task_list_wrapper > div
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper_for_task
{
	display: flex;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px grey solid;

}

.info_task
{
	width: 100%;
	margin-left: 10px;
}
.img_task_ready
{
	height: 100px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 4px solid green;
	border-radius: 50%;
	margin-right: 10px;
}
.img_task_unready
{
	height: 100px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 4px solid red;
	border-radius: 50%;
	margin-right: 10px;
}
.text_task_list
{
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid grey;
	padding: 7px;

}
.aligin_blocks_task_list
{
	width: 100%;
}
.text_for_task
{
	width: 100%;
	display: flex;
	justify-content: space-between;

}
.form_for_tasks
{
	margin-top: 10px;
	border-bottom: 2px solid grey;
	padding: 7px;
}
.form_for_tasks > form
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.aligin_blocks_task_list
{
	display: flex;
	flex-wrap: wrap;
}
.REMOVE_ALL
{
	width: 100%;
	margin-top: 10px;

}
.text_for_task_input
{
	width: 250px;
}

.READY_ALL_input
{
	margin-left: 10px;
}
.aligin_buttouns_task_list
{
	display: flex;
	justify-content: space-between;
	padding-top:15px;
	padding-right: 10px;
}
.Tasks
{
	margin-top: 10px;
}
.add_task,
.IN
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	width: 120px;
	height: 30px;
}
.REMOVE_ALL_input,
.READY_ALL_input,
.DELETE,
.READY
{
	background-color: white;
	color: black
	border:2px solid black;
	border-radius: 10px;
	width: 120px;
	height: 30px;
}
.DELETE,
.READY,
.UNREADY,
.EXIT
{
	background-color: white;
	color: black
	border:2px solid black;
	border-radius: 10px;
	width: 120px;
	height: 30px;
}
.REMOVE_ALL_input :hover,
.READY_ALL_input :hover,
.DELETE:hover,
.READY:hover,
.add_task:hover,
.UNREADY:hover,
.EXIT:hover,
.REMOVE_ALL_input:hover,
.READY_ALL_input:hover,
.IN:hover
{
	cursor: pointer;
}
.add_task:hover,
.IN:hover
{
	background-color: white;
	color: black;


}
.REMOVE_ALL_input :hover,
.READY_ALL_input :hover,
.DELETE:hover,
.READY:hover,
.UNREADY:hover,
.EXIT:hover,
.REMOVE_ALL_input:hover,
.READY_ALL_input:hover
{
	background-color: black;
	color: white;
}
.name_task
{
	display: flex;
	flex-wrap: wrap;
}
.wrapper_login_in
{
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.aligin_in
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.errors
{
	background-color: black;
	height: 50px;
	width: 100%;
	margin-top:15px;
	color: white;

}
